# The postfix for the docker-compose project of the application, becomes e.g.: `bandcal666`
BANDCAL_POSTFIX=666

# The overall port for the application
BANDCAL_PORT=8080

# The port for the API
API_PORT=3000

# The base path for the API
API_BASE_PATH=/mybasepath/api

# The port for the Vite dev server
VITE_PORT=8081

# The base path for the Vite server and build
VITE_BASE_PATH=/mybasepath/

# The base path for the API in the Vite server
VITE_API_BASE_PATH=/mybasepath/api

# The title of the application
VITE_APP_TITLE="BANDCAL - MYBASEPATH"

# The color scheme for the application (default or alt)
VITE_APP_COLOR_SCHEME=default
