* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body,
html {
  background: var(--body-background-color);
  margin: 0;
  padding: 0;
  min-width: 320px;
}

form {
  margin-top: 1em;
}

label {
  font-size: 88%;
  font-weight: bold;
  margin: 0.2rem;
  color: var(--logo-color);
}

a {
  color: #336;
  font-weight: bold;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover {
  color: #66A;
  text-decoration: none;
}

.textfield,
input,
textarea {
  border-style: solid;
  border-color: var(--button-background);
  border-width: 3px;
  font-size: 100%;
  text-decoration: none;
  padding: 8px;
  border-collapse: collapse;
  background-color: var(--dialog-background);
  border-radius: 8px;
  width: 100%;
}

.textfield {
  height: auto;
}

.textfield a {
  word-wrap: break-word;
}

textarea {
  height: auto;
  width: 100%;
}

textarea,
textarea.textfield,
input[type=text] {
  border-color: var(--button-background);
  margin-bottom: 8px;
  border-width: 3px;
}

button {
  font-size: 120%;
  border: none;
  text-decoration: none;
  padding: 8px 12px;
  border-collapse: collapse;
  background: var(--button-background);
  font-weight: bold;
  color: var(--button-color);
  border-radius: 6px;
  cursor: pointer;
  margin-right: 0.5rem;
}

button.secondary {
  background: var(--button-secondary);
  color: #336;
}

button.danger {
  background: var(--danger-color);
  color: var(--button-color);
}

button.add {
  margin-top: 1rem;
}

button:hover {
  color: var(--button-color);
  background: var(--button-hover-background);
}

button:disabled {
  background: var(--menu-background);
  color: #999;
  cursor: not-allowed;
}

@media (max-width: 850px) {

  .textfield a {
    word-wrap: break-word;
    max-width: 840px;
    overflow-wrap: break-word;
    overflow: hidden;
    display: inline-block;
  }

}

@media (max-width: 320px) {

  .textfield a {
    word-wrap: break-word;
    max-width: 280px;
    overflow-wrap: break-word;
    overflow: hidden;
    display: inline-block;
  }

}

@media (max-width: 319px) {

  .textfield a {
    word-wrap: break-word;
    max-width: 280px;
    overflow-wrap: break-word;
    overflow: hidden;
    display: inline-block;
  }

}